.alto{
    height: 100px;
}
.hero{
    height: 570px;
}
.sombra{
    text-shadow: 5px 5px 9px black;
}
.testimonials{
    width: 100vw;
    /* height: 640px; */
    padding-bottom: 5rem;
    background: black;
}
.imagen{
    overflow: hidden;
    background-image: url("../img/technology-785742_1920.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.sesgo-r{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 15vh 0 0 100vw;
    border-style: solid;
    border-color: transparent transparent transparent white;
}
.sesgo-l{
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    border-width: 15vh 96vw 0 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.features{
    height: 540px;
}
.hot-it-works{
    height: 600px;
}
#google_translate_element{
    z-index: 1030;
    position: fixed;
    top: 38px;
    left: 165px;
}
.skiptranslate > iframe {
    display: none;
}
body{
    top: 0 !important;
}
.main-footer-icons {
    width: 80px;
    height: 80px;
}

.bg-verde {
    background-color: #00af50;
}

.main-footer-icons span {
    line-height: 75px;
    font-size: 1.5rem;
    color: #220000;
}

.bg-yellow {
    background-color: #ffc000;
}